# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [31]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [32]:

csv_file=os.path.join('weather_df.csv')
city_df= pd.read_csv(csv_file)
city_df

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed
0,6201424,Mataura,NZ,-46.1927,168.8643,54.48,88,100,3.13
1,5106841,Albany,US,42.6001,-73.9662,66.06,85,98,8.25
2,4020109,Atuona,PF,-9.8000,-139.0333,77.18,78,38,18.16
3,5122534,Jamestown,US,42.0970,-79.2353,69.93,88,90,3.00
4,2381972,Adrar,MR,20.5022,-10.0711,101.43,14,13,4.72
...,...,...,...,...,...,...,...,...,...
535,6180550,Whitehorse,CA,60.7161,-135.0538,52.54,87,90,0.00
536,140951,Behbahān,IR,30.5959,50.2417,96.12,7,0,8.99
537,262462,Farsala,GR,39.2947,22.3847,67.62,85,100,0.94
538,4219934,Roswell,US,34.0232,-84.3616,82.94,56,75,1.01
539,1805857,Jieshi,CN,22.8134,115.8257,81.88,81,93,4.81

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [33]:
gmaps.configure(api_key=g_key)

In [34]:
locations = city_df[["Lat", "Lng"]]
humidity = city_df["Humidity"]

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False)
heat_layer.max_intensity = 100
heat_layer.point_radius = 5


fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [35]:
#use.loc
cleaned_df = city_df.loc[(city_df["Temperature"] <= 100) & (city_df["Temperature"] >= 50)] 
cleaned_df=city_df.loc[city_df['Wind Speed'] <= 8]
cleaned_df=city_df.loc[city_df['Clouds'] <= 15]
cleaned_df=city_df.loc[city_df['Humidity'] <= 30]
hotels_df= cleaned_df
hotels_df
#check the length of resulting dataframe so it has rows

#cleaned df could be hotel_df

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed
4,2381972,Adrar,MR,20.5022,-10.0711,101.43,14,13,4.72
16,1526384,Almaty,KZ,43.2500,76.9500,66.11,28,20,4.47
57,174448,Abu Kamal,SY,34.4506,40.9171,89.67,19,0,6.89
86,3355624,Maltahöhe,NaN,-24.8333,16.9833,60.91,7,100,6.46
108,6139413,Salmo,CA,49.1999,-117.2689,69.31,30,100,4.54
120,3464008,Esmeraldas,BR,-19.7625,-44.3139,91.04,20,0,6.40
122,3837213,San Juan,AR,-31.5375,-68.5364,75.72,27,0,5.64
162,894701,Bulawayo,ZW,-20.1500,28.5833,69.80,23,2,9.22
167,5369690,Magalia,US,39.8121,-121.5783,82.76,17,7,3.00
175,3445713,Uruaçu,BR,-14.5247,-49.1408,98.58,13,2,2.10
184,933211,Nokaneng,BW,-19.6667,22.2667,77.02,22,52,3.60
200,3387620,Simplício Mendes,BR,-7.8539,-41.9103,96.35,24,90,8.55
210,2063042,Port Hedland,AU,-20.3167,118.5667,71.65,23,0,12.66
214,915471,Kalabo,ZM,-14.9700,22.6814,75.65,21,23,7.25
223,141736,Bam,IR,29.1060,58.3570,86.65,11,0,8.63
234,107304,Buraidah,SA,26.3260,43.9750,99.05,11,0,10.33
235,113659,Tabas,IR,33.5959,56.9244,84.43,18,0,5.26
245,1529484,Kumul,CN,42.8000,93.4500,74.79,21,0,2.28
248,359792,Aswān,EG,24.0934,32.9070,97.90,23,0,13.80
250,347796,Sohag,EG,26.5570,31.6948,89.89,25,0,16.13
261,2074865,Carnarvon,AU,-24.8667,113.6333,51.87,27,0,8.05
262,102527,Sakakah,SA,29.9697,40.2064,99.97,13,1,11.10
267,3893656,Copiapó,CL,-27.3667,-70.3333,56.89,25,5,7.92
276,3356213,Khorixas,NaN,-20.3667,14.9667,66.11,27,56,8.25
280,5654391,Glendive,US,47.1053,-104.7125,77.22,18,32,11.01
284,5387494,Ridgecrest,US,35.6225,-117.6709,94.23,8,1,1.01
346,6620339,Karratha,AU,-20.7377,116.8463,73.11,30,0,18.95
351,5364271,Laguna,US,38.4210,-121.4238,87.03,30,1,3.44
361,3523011,Mazatlan,MX,25.2000,-99.8167,89.56,29,96,10.40
375,116402,Semnan,IR,35.5729,53.3971,82.22,16,0,4.81
397,1519938,Karatau,KZ,43.1667,70.4667,72.28,30,0,7.31
408,3392095,Pimenteiras,BR,-6.2453,-41.4192,100.76,16,86,8.34
423,1514792,Gazojak,TM,41.1875,61.4036,73.06,18,6,15.05
435,2381334,Atar,MR,20.5169,-13.0499,102.58,20,95,8.05
437,3444201,Puerto Quijarro,BO,-17.7833,-57.7667,101.19,20,100,4.21
442,3832899,Viedma,AR,-40.8135,-62.9967,71.37,25,100,9.01
474,2219235,Ubari,LY,26.5921,12.7805,91.90,17,0,6.91
489,3446198,Tremedal,BR,-14.9758,-41.4108,90.14,25,83,2.73
498,945945,Upington,ZA,-28.4478,21.2561,62.98,20,0,5.75
512,1529376,Korla,CN,41.7597,86.1469,74.35,30,0,5.03
520,5546220,Saint George,US,37.1041,-113.5841,92.89,22,1,3.00
524,101312,Turaif,SA,31.6725,38.6637,86.25,17,0,8.05
536,140951,Behbahān,IR,30.5959,50.2417,96.12,7,0,8.99

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [36]:
# set up additional columns to hold information
hotels_df['Hotel Name'] = ""
hotels_df

c:\users\ranab\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

,City ID,City,Country,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed,Hotel Name
4,2381972,Adrar,MR,20.5022,-10.0711,101.43,14,13,4.72,
16,1526384,Almaty,KZ,43.2500,76.9500,66.11,28,20,4.47,
57,174448,Abu Kamal,SY,34.4506,40.9171,89.67,19,0,6.89,
86,3355624,Maltahöhe,NaN,-24.8333,16.9833,60.91,7,100,6.46,
108,6139413,Salmo,CA,49.1999,-117.2689,69.31,30,100,4.54,
120,3464008,Esmeraldas,BR,-19.7625,-44.3139,91.04,20,0,6.40,
122,3837213,San Juan,AR,-31.5375,-68.5364,75.72,27,0,5.64,
162,894701,Bulawayo,ZW,-20.1500,28.5833,69.80,23,2,9.22,
167,5369690,Magalia,US,39.8121,-121.5783,82.76,17,7,3.00,
175,3445713,Uruaçu,BR,-14.5247,-49.1408,98.58,13,2,2.10,
184,933211,Nokaneng,BW,-19.6667,22.2667,77.02,22,52,3.60,
200,3387620,Simplício Mendes,BR,-7.8539,-41.9103,96.35,24,90,8.55,
210,2063042,Port Hedland,AU,-20.3167,118.5667,71.65,23,0,12.66,
214,915471,Kalabo,ZM,-14.9700,22.6814,75.65,21,23,7.25,
223,141736,Bam,IR,29.1060,58.3570,86.65,11,0,8.63,
234,107304,Buraidah,SA,26.3260,43.9750,99.05,11,0,10.33,
235,113659,Tabas,IR,33.5959,56.9244,84.43,18,0,5.26,
245,1529484,Kumul,CN,42.8000,93.4500,74.79,21,0,2.28,
248,359792,Aswān,EG,24.0934,32.9070,97.90,23,0,13.80,
250,347796,Sohag,EG,26.5570,31.6948,89.89,25,0,16.13,
261,2074865,Carnarvon,AU,-24.8667,113.6333,51.87,27,0,8.05,
262,102527,Sakakah,SA,29.9697,40.2064,99.97,13,1,11.10,
267,3893656,Copiapó,CL,-27.3667,-70.3333,56.89,25,5,7.92,
276,3356213,Khorixas,NaN,-20.3667,14.9667,66.11,27,56,8.25,
280,5654391,Glendive,US,47.1053,-104.7125,77.22,18,32,11.01,
284,5387494,Ridgecrest,US,35.6225,-117.6709,94.23,8,1,1.01,
346,6620339,Karratha,AU,-20.7377,116.8463,73.11,30,0,18.95,
351,5364271,Laguna,US,38.4210,-121.4238,87.03,30,1,3.44,
361,3523011,Mazatlan,MX,25.2000,-99.8167,89.56,29,96,10.40,
375,116402,Semnan,IR,35.5729,53.3971,82.22,16,0,4.81,
397,1519938,Karatau,KZ,43.1667,70.4667,72.28,30,0,7.31,
408,3392095,Pimenteiras,BR,-6.2453,-41.4192,100.76,16,86,8.34,
423,1514792,Gazojak,TM,41.1875,61.4036,73.06,18,6,15.05,
435,2381334,Atar,MR,20.5169,-13.0499,102.58,20,95,8.05,
437,3444201,Puerto Quijarro,BO,-17.7833,-57.7667,101.19,20,100,4.21,
442,3832899,Viedma,AR,-40.8135,-62.9967,71.37,25,100,9.01,
474,2219235,Ubari,LY,26.5921,12.7805,91.90,17,0,6.91,
489,3446198,Tremedal,BR,-14.9758,-41.4108,90.14,25,83,2.73,
498,945945,Upington,ZA,-28.4478,21.2561,62.98,20,0,5.75,
512,1529376,Korla,CN,41.7597,86.1469,74.35,30,0,5.03,
520,5546220,Saint George,US,37.1041,-113.5841,92.89,22,1,3.00,
524,101312,Turaif,SA,31.6725,38.6637,86.25,17,0,8.05,
536,140951,Behbahān,IR,30.5959,50.2417,96.12,7,0,8.99,

In [37]:
params = {
        "radius": 5000,
        "type": "lodging",
        "key": g_key,
        }

for index, row in hotels_df.iterrows():
    
        lat = row['Lat']
        lng = row['Lng']
    
        params['location'] = f"{lat}, {lng}"
            
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        hotel_data = requests.get(base_url, params=params).json()


        try:        
            hotels_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]

        except IndexError:

            print("Hotel not found ...skipping")

Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping
Hotel not found ...skipping

In [38]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotels_df.iterrows()]
locations = hotels_df[["Lat", "Lng"]]

In [39]:
# Add marker layer ontop of heat map

figure_layout = {
    'width': '1900px',
    'height': '1600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

# Create hotel symbol layer
hotel_layer = gmaps.marker_layer(
    locations,info_box_content=[info_box_template.format(**row) for index, row in hotels_df.iterrows()]
)


# Add layer
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='1600px', margin='0 auto 0 auto', padding='1px', w…